.dropdown_main{
    padding-top: 2rem;
    width: 18%;
    height: 100%;
    background-color: rgb(31,41,55);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    position: absolute;
    border: 1px solid white;
}
.dropdown_main p:hover{
border-bottom: 1px solid white;
cursor: pointer;
color: blue;
}
